# app
WEB_NAME="gotoh"
# your localhost app , setting in app.js
BASE_URL="http://localhost:3001"

# auth
AUTH_SECRET="your-secret-key-here"

# database
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_USERNAME="root"
DB_PASSWORD=""
DB_DIALECT="mysql"

# db name
DB_NAME_DEVELOPMENT="db_be_inventaris"
DB_NAME_PRODUCTION=""